/*age calculator 

option to select date of birth 
output of age in years,days,weeks
message that its your birthday if app is done on birdate*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
body{
  background-color: green;
}


.appContainer{
  background-color: purple;
  min-height: 100vh;
  width: 100%;
  padding: 10px;
}


.myApp{
  width: 100%;
  max-width: 540px;
  height: 400px;
  display: block;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 60px 30px 70px;
  border-radius: 10px;

}


.myApp h2{
  display: flex;

}

span{
  color: red;
  padding-left: 5px; /*add space after word Shooping*/
}

i{
  margin-left: 10px; /*add space after word list*/
}


.input_box{
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: pink;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  height: 80px;
}


.date_title{
  font-size: 16px;
  font-family: sans-serif;

}


input[type=text]{
  width: 200px;
  margin: auto;
  outline: none;
  min-height: 35px;
  border: 2px solid blue;
  border-radius: 2px;
  color: blue;
  font-size: 15px;
  padding: 3px;
}

input[type=text]:hover{
  border: 2px solid darkblue;
}


input[type=button]{
  width: 180px;
  margin-left: 30%;
  border-radius: 5px;
  background-color: #0761b6;
  outline: none;
  border: none;
  padding: 14px 16px;
  color: #fff;
  font-size: 18px;
}


input[type=button]:hover{
  background-color: yellow;
  color: #0761b6;
  border: 2px solid #0761b6;

}
/*.cal_app h1{
display: flex;
align-items: center;
margin-bottom: 20px;
}